**/target
**/test-output
/report

# ignore Intellij IDEA files
*.iml
/.idea/

# ignore Eclipse files
**/.settings
.classpath
.project
# ignore temp excel files (created when excel file is opened)
**/~$*.xlsx

# ignore trash
**/*log*.txt
/bin

.metadata
.recommenders

**/*.class